<h1>注文情報確認</h1>
<table>
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% sum = 0 %>
  <% @cart_items.each do |cart_item| %>
    <% item = cart_item.item %>
    <tr>
      <td><%= attachment_image_tag item, :image, :fill, 30, 30, format: 'jpeg', fallback: "no_image.jpg" %><%= item.name %></td>
      <td><%= number_to_currency item.price * 1.08, precision: 0, unit: "", format: "%u %n" %></td>
      <td><%= cart_item.amount %></td>
      <td><%= number_to_currency cart_item.subtotal_price, precision: 0, unit: "", format: "%u %n" %></td>
    </tr>
    <% sum += cart_item.subtotal_price %>
  <% end %>
</table>
<table>
  <tr>
    <th>送料</th>
    <td><%= @shipping_cost %></td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%= sum %></td>
  </tr>
  <tr>
    <th>請求金額</th>
    <td><%= sum + @shipping_cost %></td>
  </tr>
</table>
<div>
  <h2>支払方法</h2>
  <p>enumで指定</p>
</div>
<div>
  <h2>お届け先</h2>
  〒<%= @postal_code %> <%= @address %><br/>
  <%= @name %>
</div>

<%= form_with model: @order, local: true do |f| %>
  <%= f.hidden_field :customer_id, value: current_customer.id %>
  <%= f.hidden_field :postal_code, value: @postal_code %>
  <%= f.hidden_field :address, value: @address %>
  <%= f.hidden_field :name, value: @name %>
  <%= f.hidden_field :total_payment, value: sum %>
  <%= f.hidden_field :shipping_cost, value: @shipping_cost %>
  <%= f.hidden_field :payment_method, value: 0 %>
  <%= f.hidden_field :status, value: 0 %><!-- enumで指定 -->
  <%= f.submit "注文を確定する" %>
<% end %>