<%# if @item.errors.any? %>
  <!-- <div class="alert alert-warning">
    <ul>
      <%# @item.errors.full_messages.each do |message| %>
        <li><%#= message %></li>
      <%# end %>
    </ul>
  </div>
<%# end %> -->  <!-- エラー文の表示　-->


<h1>商品一覧</h1>
<%= link_to "+", new_admins_item_path %>

<table>
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>販売ステータス</th>
  </tr>
  <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td>
        <%= link_to admins_item_path(item.id) do %>
          <%= item.name %>
        <% end %>
      </td>
      <td><%= item.price %></td>
      <td><%= item.genre.name %></td>
      <td>
        <% if item.is_active %>
          販売中
        <% else %>
          販売停止中
        <% end %>
      </td>
    </tr>
  <% end %>
</table>